Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  misc-*,
  readability-*,
  modernize-*,
  -clang-analyzer-alpha*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-narrowing-conversions,
  -bugprone-reserved-identifier,
  -misc-include-cleaner,
  -modernize-avoid-c-arrays,
  -modernize-use-auto,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
